---
title: Credit
---

<div class="split-content">
	<div class="side-content">
		<div class="editable">
			<p>I'm Costiui, an aspiring freelance wildlife photographer.</p>

			<p>I'm a wanderer and explorer. My home follows me where ever I go.</p>

			<p>If you like my work feel free to follow me on</p>
				{% include social.html %}
			
		</div>
	</div>

	<div class="side-photo">
		<img src="{{ site.baseurl }}/images/costiui.jpg" alt="Costiui class="editable" height="400" width="400" />
	</div>
	{% include navigation.html %}
</div>
