				<!-- Costiui like button code -->
<div class="fb-like" data-href="https://www.facebook.com/CostiuiNet/" data-width="" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
		<!-- Costiui like button code -->	
     <!-- Load Facebook SDK for JavaScript like -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ro_RO/sdk.js#xfbml=1&version=v4.0&appId=2734708473421167&autoLogAppEvents=1"></script>
<!-- Load Facebook SDK for JavaScript comment -->
