 <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
.social-icons {
  text-align: right;
  }  
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:40px;
  height:40px;
  margin-right: 10px;
}
</style>
</head>
<body>
  <ul class="social-icons">
    <li><a href="https://www.facebook.com/CostiuiNet" target="_blank"><img src='{{ site.baseurl }}/icon/Facebook.png' /></a></li>
    <li><a href="https://twitter.com/costiui" target="_blank"><img src='{{ site.baseurl }}/icon/Twitter.png' /></a></li>
    <li><a href="https://www.youtube.com/channel/UCvZo-Y043ipjefFW9ONGJ8A" target="_blank"><img src='{{ site.baseurl }}/icon/YouTube.png' /></a></li>
	<li><a href="https://costiui.tumblr.com" target="_blank"><img src='{{ site.baseurl }}/icon/Tumblr.png' /></a></li>
	<li><a href="https://vimeo.com/costiui" target="_blank"><img src='{{ site.baseurl }}/icon/Vine.png' /></a></li>
	<li><a href="https://www.instagram.com/costiui.ronaszek" target="_blank"><img src='{{ site.baseurl }}/icon/Instagram.png' /></a></li>
</ul>

</body>
</html>
